@font-face {
    font-family: 'Gotham';
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url("../fonts/Gotham-Medium/Gotham-Medium.woff2") format('woff2'),
        url("../fonts/Gotham-Medium/Gotham-Medium.woff") format('woff'),
        url("../fonts/Gotham-Medium/Gotham-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham Bold'), local('Gotham-Bold'),
        url("../fonts/Gotham-Bold/Gotham-Bold.woff2") format('woff2'),
        url("../fonts/Gotham-Bold/Gotham-Bold.woff") format('woff'),
        url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
    box-sizing: border-box;
    color: #333E48;
}

#wrapper {
    background: #bcbdc0 url(../img/bg_1.png);
    background-size: contain;
    background-repeat-y: no-repeat;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    background: #F9F9F9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    box-sizing: border-box;
}

.wrapper .logo {
    position: relative;
    display: flex;
    align-items: center;
}

.wrapper .logo .title {
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 21px;
    padding: 32px 0;
    font-family: 'Gotham-Bold';
}

.wrapper .icon {
    width: 25px;
    height: 25px;

}

.wrapper .icon-facebook {
    height: 23px;

}

.wrapper .logo img{
    width: 130px;
}

.social {
    width: 85px;
    display: flex;
    justify-content: space-between;
}

.banner-image {
    max-width: 100%;
    height: 480px;
    background: url(../img/banner.png) no-repeat center;
    background-size: cover;

}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.content-list {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
}

.item-description {
    font-size: 16px;
    padding: 40px 0;
    text-align: center;
    letter-spacing: -0.5px;
}

.circle-number {
    font-size: 32px;
    color: #E00027;
    width: 60px;
    height: 60px;
    border: 5px solid #E00027;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.item-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #333E48;
    text-align: center; 
}

.products__item {
    width: 260px;    
    transition: all 0.3s ease-in-out;
}

.products__item:hover {
    transform: scale(1.1, 1.1);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prod {
    margin-bottom: 0;
}

.stars {
    width: 200px;
    height: 81px;
    margin: 0 auto;
    background: url("../img/STAR.png") no-repeat center;
}

.video {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    
}

.video .item-title {
    margin-top: 80px;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden 
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute; 
    top: 0; 
    width: 92%; 
    height: 100%;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%; 
}

.user-agree {
    font-size: 16px;
    text-align: center;
    color: #001AFF;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 38px;
}

.copyright {
    padding: 40px 0;
}

.signature {
    font-size: 12px;
}

.overlay {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 100;
}

.popup{
    display: none;
    background:#F9F9F9;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:101;
    width:500px;
    height:200px; 
    margin:auto;
}

@media(max-width:768px){
    .popup {
        width:90%;
        margin:auto 5%;
    }
}

.popup-inner{
    height: 100%;
    position: relative;
    padding:10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .close{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 200;
}

@media (min-width: 460px) and (max-width: 768px) {
    .banner-image {
        height: 350px;
    }
}

@media (min-width: 360px) and (max-width: 420px) {
    .wrapper {
        padding: 0 15px;
    }
    .wrapper .logo .title {
        margin-left: 30px;
        font-size: 15px;
    }
    .wrapper .logo img {
        width: 100px;
    }
    .banner-image {
        height: 200px;
    }
    .copyright {
        padding: 25px 0;
    }
    .wrapper .social {
        width: 30px;
        height: 64px;
        flex-direction: column;
    }
    .video .item-title {
        margin-top: 40px;
    }
    .item-title {
        font-size: 22px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .wrapper {
        padding: 0 15px;
    }
    .wrapper .logo img {
        width: 100px;
    }
    .wrapper .logo .title {
        margin-left: 15px;
        font-size: 20px;
    }
    .wrapper .social {
        width: 30px;
        height: 64px;
        flex-direction: column;
    }
    .banner-image {
        height: 180px;
    }
    .copyright {
        padding: 25px 0;
    }
    .video .item-title {
        margin-top: 40px;
    }
    .item-title {
        font-size: 20px;
    }
}